project:
  type: website
  output-dir: docs

website:
  title: "website title"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: shorts.qmd
        text: Shorts
      - Published works.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



